body {
    color: lightgrey;
    background-color: slategrey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table.mainframe {
    min-width: 1024px;
}

h1 {
    color: white;
    text-align: center;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.centered {
    align-content: center;
    text-align: center;
    position: center;
}

img.toolbarIcon {
    height: 100%;
    cursor: pointer;
    align-content: center;
    text-align: center;
    position: center;
}

.headsetIcon {
    height: 96px;
    align-content: center;
    position: center;
}

.headsetToolbar {
    width: 100%;
    align-content: center;
    text-align: center;
    position: center;
}

.headsetToolbarIcon {
    height: 32px;
    position: center;
    text-align: center;
}

.menuItem {
    width: 200px;
    height: 30px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: smaller;
    cursor: pointer;
    border-color: black;
    border: thin, solid;
}

.menuItemSelected {
    color: white;
    background-color: darkred;
    border-bottom: none;
}

.menuItemUnselected {
    color: whitesmoke;
    background-color: darkslategrey;
}

.tabControlContent {
    padding: 0px;
    border-top: none;
    border: thin;
}

.tableFieldName {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: smaller;
    font-weight: bold;
    color: blanchedalmond;
}

.tableFieldValue {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: smaller;
}

input.tableFieldValueInt {
    width: 50px;
    border: 1px solid darkslategrey;
    border-radius: 4px;
    background-color: bisque;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: smaller;
}

input.tableFieldValueFloat {
    width: 100px;
    border: 1px solid darkslategrey;
    border-radius: 4px;
    background-color: bisque;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: smaller;
}

input.inlineEditor {
    max-width: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    border: 1px solid darkslategrey;
    border-radius: 4px;
    background-color: bisque;
}

select.tableFieldValue {
    width: 120px;
    border: 1px solid darkslategrey;
    border-radius: 4px;
    background-color: bisque;
}

.pushButton {
    height: 25px;
    border: 1px solid darkslategrey;
    border-radius: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: smaller;
    font-weight: bold;
}

a.error {
    color: darkred;
    font-size: smaller;
    font-weight: bold;
}

a.success {
    color: lightgreen;
    font-size: smaller;
    font-weight: bold;
}

.pairNewCell {
    cursor: pointer;
    margin: 0px auto auto;
}

.headsetCell {
}

.headsetText {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    text-align: center;
    height: 25px;
}

.headsetName {
    font-weight: bold;
}

.headset {
    margin: 0px;
    vertical-align: top;
}

.pairNewText {
    height: 26px;
}

.spinner {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin: 32px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}